@import url(./assets/webfontkit/custom-fonts.css);

:root {
  --green: #078944;
  --blue: #134b8b;
  --yellow: #f69220;
}

.left-squiggly-wide {
  --mask:
    radial-gradient(89.20px at 126.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 120px)/100% 240px,
    radial-gradient(89.20px at -66px 50%,#0000 99%,#000 101%) 60px 50%/100% 240px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.right-squiggly-wide {
  --mask:
    radial-gradient(89.20px at calc(100% - 126.00px) 50%,#000 99%,#0000 101%) 0 calc(50% - 120px)/100% 240px,
    radial-gradient(89.20px at calc(100% + 66.00px) 50%,#0000 99%,#000 101%) calc(100% - 60px) 50%/100% 240px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.top-squiggly-wide {
  --mask:
  radial-gradient(6.44rem at 50% 8.70rem,#000 99%,#0000 101%) calc(50% - 6rem) 0/12rem 100%,
  radial-gradient(6.44rem at 50% -5.7rem,#0000 99%,#000 101%) 50% 3rem/12rem 100% repeat-x;
-webkit-mask: var(--mask);
        mask: var(--mask);
}

.right-squiggly {
  --mask:
    radial-gradient(26.87px at calc(100% - 38.00px) 50%,#000 99%,#0000 101%) 0 calc(50% - 38px)/100% 76px,
    radial-gradient(26.87px at calc(100% + 19.00px) 50%,#0000 99%,#000 101%) calc(100% - 19px) 50%/100% 76px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.left-squiggly {
  --mask:
    radial-gradient(26.87px at 38.00px 50%,#000 99%,#0000 101%) 0 calc(50% - 38px)/100% 76px,
    radial-gradient(26.87px at -19px 50%,#0000 99%,#000 101%) 19px 50%/100% 76px repeat-y;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.px-5 {
  padding-inline: 5rem;
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: var(--blue);
}

.text-yellow {
  color: var(--yellow);
}

.border-green {
  border-color: var(--green);
}

.border-blue {
  border-color: var(--blue);
}

.border-yellow {
  border-color: var(--yellow);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-none {
  background: none;
}

.svg-green {
  filter: invert(35%) sepia(100%) saturate(645%) hue-rotate(106deg) brightness(89%) contrast(95%);
}

.svg-yellow {
  filter: invert(59%) sepia(48%) saturate(755%) hue-rotate(350deg) brightness(98%) contrast(96%);
}

.svg-blue {
  filter: invert(17%) sepia(30%) saturate(5748%) hue-rotate(201deg) brightness(99%) contrast(85%);
}

.svg-white {
  filter: brightness(0) invert(1);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.title-img {
  max-width: 345px;
}

.z-1 {
  z-index: -1;
}

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 210px;
}

.navbar {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  display: grid;
  grid-template-columns: 35% 65%;
  height: 50px;
  box-shadow: 0px 1px 10px #333;
}

.navbar-logo {
  grid-column: 1;
  max-height: 100%;
  margin-left: 3px;
  object-fit: contain;
}

.navbar-logo > img {
  pointer-events: none;
  max-height: 36px;
}

.navbar > ul {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 6px;
  width: 100%;
  margin-left: auto;
  font-size: 18px;
}

.nav-link{
  font-family: 'pp_telegraf', sans-serif;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.3rem;
  color: var(--green);
}

.nav-link:hover {
  text-shadow: 1px 0 0 var(--green);
  transform: rotate(7deg);
}

.nav-link:nth-child(even):hover {
  transform: rotate(-7deg);
}

.nav-link.active {  
  background-image: url(./assets/images/mancha.svg); 
  background-repeat: no-repeat;
  background-size: contain;
}

.home-section {
  aspect-ratio: 16/9;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.hero-title-container {
  display: flex;
  justify-content: center;
  color: #008647;
  padding: 2rem;
}

.hero-title-container h1 {
  font-family: 'high_cruiser', sans-serif;
  font-size: 50px;
}

.hero-title {
  color: #134b8b;
}

.hero-image-container {
  height: 100%;
}

.hero-image-container > img {
  aspect-ratio: 16/9;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 0;
}

.three-panels {
  position: relative;
  display: flex;
  overflow: hidden;
}

.layer1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 40%;
}

.panel {
  flex: 1;
  max-width: 30%;
}



.visit-panel {
  background-color: #134b8b;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  letter-spacing: 0.3em;
  font-size: 24px;
  padding: 2rem;
  text-decoration: none;
}

.hover-panel {
  transition: background-color 0.3s ease;
}

.hover-panel:hover {
  background-color: var(--yellow);
}

.hover-panel-green {
  background-color: rgba(7, 137, 68, 0.5);
  transition: background-color 0.3s ease;

}

.hover-panel-green:hover {
  background-color: rgba(7, 137, 68, 0.90);
}

.info-panel {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  row-gap: 1rem;
}

.info-panel p {
  line-height: 1.6;
  max-width: 360px;
}

.program-panel {
  flex: auto;
}

.layer2 {
  position: absolute;
  width: 50%;
  top: 0;
  left: 25%;
  right: 25%;
  bottom: 0;
  z-index: -1;
}

.layer2.extend {
  width: 80%;
  right: 0;
  left: auto;
}

.section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more {
  color: goldenrod;
  font-weight: bold;
  margin-top: 5px;
  max-width: 100px;
}

.more img {
  min-height: 64px;
  object-fit: contain;
}

.bg-green {
  background-color: #078944;
}

.activities-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  
}

.activities-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.2fr;
  gap: 1rem;
  max-width: 950px;
}

.grid-el {
  display: flex;
  flex-direction: column;
  color: #134b8b;
}

.grid-el h2 {
  font-family: 'high_cruiser', sans-serif;
  font-size: 25px;
  margin: 1rem 0;
  text-align: center;
}

.grid-el ul {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  font-family: 'pp_telegraf', sans-serif;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  padding: 1.2rem 2.4rem;

}

.footer {
  height: 210px;
  padding-top: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.grass {
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
  padding-top: 185px;
}

.grass * {
  pointer-events: all;
}

.footer-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  width: 100%;
  column-gap: 1rem;
  margin: 0 2rem 1rem;
}

.footer-info-container > * {
  padding-top: 1rem;
}

.footer-info-container > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer-info-container a {
  text-decoration: none;
  color: white;
}

.footer-info-container .info3 {
  grid-column: 4;
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.footer-info-container .info4 {
  padding: 0.3rem;
}

.footer-info-container .info5 {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
}

.footer-info-container .info5 p {
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  line-height: 1.3;
  font-family: 'garetbook';
}

.footer-info-container .info5 span {
  font-weight: bold;
}

.footer-icon {
  max-width: 50px;
}

.footer-logo {
  max-width: 100px;
}

.sun {
  background-color: var(--yellow);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 130px;
  position: absolute;
  transform: translateY(-75%);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
}

.sun:hover {
  transform: translateY(-80%) scale(1.2);
}

.levels-ul {
  list-style: circle;
}

.levels-li {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.levels-li p {
  font-family: 'pp_telegraf';
  font-weight: bold;
  color: var(--blue);
}

.levels-li > * {
  pointer-events: none;
}

.levels-li img {
  object-fit: none;
  height: 30px;
  width: 30px;
}

.levels-li.hovering {
  background-color: var(--yellow)
}

.nuestro-sistema {
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

.nuestro-sistema > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sistema-1 {
  padding: 3rem;
}

.sistema-1 > p, .sistema-1 > strong {
  padding-left: 1.5rem;
  font-family: 'garetbook';
  color: var(--blue);
}
.sistema-1 > strong {
  font-weight: bold;
}

.sistema-2 {
  margin: 2rem;
}

.sistema-2 > p {
  border: 3px solid var(--yellow);
  border-radius: 15px;
  padding: 2rem;
  line-height: 2;
  text-align: center;
  max-width: 435px;
}

.sistema-3{
  padding: 0;
}
.sistema-3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  grid-column: 1/-1;
  display: flex;
  height: 424px;

}

.carousel-section {
  width: 0;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.2s ease;
}

.carousel-section > a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  height: 3rem;
  color: white;
  letter-spacing: 2.5px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel-section img {
  display: none;
  width: 50%;
  margin-inline: auto;
}

.carousel-section p {
  display: none;
  pointer-events: none;
  padding-inline: 20%;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}

.carousel-section.hovering {
  flex: 2;
  background: none;
}

.carousel-section.hovering img,
.carousel-section.hovering p {
  display: block;
}

.equipment {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.rooms-title-container > p {
  font-family: 'pp_telegraf';
  color: var(--blue);
  text-align: center;
  font-size: 1.5rem;
}

.rooms-ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
}

.rooms-li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 10%;
}

.nosotros-hero {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nosotros-hero-left{
  position: relative;
  display: flex;
  align-items: center;
}

.nosotros-hero-left-text {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.nosotros-hero-left-text p {
  text-align: center;
}

.band-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  height: 3rem;
  color: white;
  letter-spacing: 2.5px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mision-vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mision-vision-side-container {
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.mision-vision-img-left {
  background-image: url(./assets/images/photos/trophies.jpeg);
}

.mision-vision-img-right {
  background-image: url(./assets/images/photos/garden-flowers.jpg);
}


.mision-vision-side-container > .color {
  opacity: 0.65;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mision-vision-info {
  z-index: 100;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

.nuestro-personal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nuestro-personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  padding: 4rem 2rem;
  text-align: center;
}

.nuestro-personal-info > img {
  width: 30px;
}

.nuestro-personal-img {
  position: relative;
  color: white;
}

.nuestro-personal-img p {
  font-family: 'pp_telegraf', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
}

.nuestro-personal-title-image {
  max-width: none;
  height: 45%;
  overflow-x: hidden;
  object-fit: cover;

}

.nuestro-personal-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 30%;
}

.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  row-gap: 1rem;
}

label {
  margin-inline: 0.5rem;
}

.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address-container {
  width: 100%;
  margin-top: 1rem;
}

.address1 {
  font-weight: bold;
}

.address2 {
  font-weight: normal;
}

.text-input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline-color: var(--green);
}

.text-input-label {
  font-weight: bold;
}

.submit-btn {
  border-radius: 10px;
  min-width: 120px;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}
/* --------------------------------------- Media queries --------------------------------------- */

@media only screen and (min-width: 1400px) {
  .activities-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: none;
    column-gap: 4rem;
  }

  .small.grid-el {
    justify-content: flex-end;
    column-gap: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .sun {
    transform: translateY(-90%);
  }

  .sun:hover {
    transform: translateY(-95%) scale(1.2);
  }

  .info-panel {
    padding: 2.2rem;
    row-gap: 0;
  }
}
