.navbar {
  display: flex;
  justify-content: space-around;
  column-gap: 6px;
  max-width: 65%;
  margin-left: auto;
  border: 1px solid red;
  font-family: sans-serif;
  font-size: larger;
  font-weight: 900;
  padding: 0.5rem;
}

.nav-link{
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.3rem;
}

.nav-link:hover {
text-decoration: underline;
}

.nav-link.active {  
  /* CHANGE BACKGROUND IMAGE */
  background-image: url(./assets/paintmark.png); 
}
